@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Poppins&family=Qwitcher+Grypen:wght@700&family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,body{
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar{
  display: none;
}
#main{
  width: 100%;
    /* border: 10px solid black; */

}
#loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 69;
  background-color: #111;
  color: #fff;
}
#loader h1{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  /* left: 42%; */
  font-size: 8vw;
  font-weight: 500;
  /* transform: translate(-50% -50%); */
}
#loader h1 .garg{
  font-family: 'Megrim', cursive;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 7vw;
  color: #842029;
}
#topheading{
  position: absolute;
  top: 5%;
  left: 45%;
  /* transform: translate(-50%,0); */
}

#topheading h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 300;
}

.reveal .parent{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.reveal .parent .child{
  display: block;
  transform: translateY(0);
  
} 
.parent .child span{
  display: inline-block;
}
 #colorDiv{
  border: 10px solid #111;
  position: absolute;
  height: 0vh;
  width: 100%;
  bottom: 0;
  background-color: #842029;
}
#white{
  position: absolute;
  height: 0vh;
  width: 100%;
  z-index: 60;
  bottom: 0;
  background: #dfd5a9;
  /* background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}

.home{
  border: 10px solid #111;
  position: absolute;
  /* height: 200vh; */
  width: 100%;
  /* z-index:61; */
  background-color: #dfd5a9
}
.home-content{
  line-height: 150px;
  margin-top: 50px;
}
.lineBox{
  position: relative;
}
/* navabr */

/* the name logo on the home page */
.block{
  position: absolute;
  top: 1%;
  left: 3%;
  height: 5vw;
  width: 2vw;
  z-index: 999;
  background-color: #842029;
}
.block1{
  position: absolute;
  top: 1%;
  left: 5%;
  height: 2vw;
  width: 3px;
  z-index: 999;
  background-color: #842029;
}
.block2{
  position: absolute;
  top: 1%;
  left: 5.1%;
  height: 5vw;
  width: 2vw;
  z-index: 999;
  background-color: #842029;
}


/* logo end */

.navBar{
  position: absolute;
  top: 12%;
  left: -8.8%;
  z-index: 222;
  rotate: -90deg;
  /* border:1px solid red; */
  
  display: inline-block;
}
.navBar a{
  margin-left:55px;
  color: #842029;
  font-size: 1.3vw;
  font-weight: 600;
  text-decoration: none;
}

/* navbar end */

#HomeSection .row h1 {
  font-size: 11vw;
  margin-top: -7%;
  margin-left: 9%;
  font-weight: 600;
  color: #111;
  display: inline-block;
  letter-spacing: 5px;
}

.text{
  display: inline-block;
  margin-left: 66%;
  opacity: .3;
  font-size: 1vw;
  text-transform: uppercase;
  width: 14vw;
  line-height: 15px;
} 
.text1{
  text-align: end;
  margin-left: 80%;
  margin-top: 8%;
  opacity: .3;
  font-size: 1vw;
  text-transform: uppercase;
  width: 14vw;
} 
#HomeSection .row1 h1 {
  font-size: 11vw;
  /* justify-content: center; */
  font-weight: 600;
  margin-left: 28%;
  letter-spacing: 5px;
  /* color:#dfd5a9; */
  /* margin-top: -10px; */
  /* background-color:#8420288a; */
}

#HomeSection .o-letter {
  font-family: 'Megrim', cursive;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 22vw;
  color: #842029;
}
.arrow svg{
  height: 10vw;
  margin-left: 9.5vw;
  opacity: .3;
}
path,polyline{
  stroke:#111 ;
}



/* the name logo on the home page */


/* logo end */ 

/* vertical line of the page */
.vertical{
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  top: 0;
  height: 100%;
  left: 7%;
}.vertical0{
  position: absolute;
  top: 0;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 3%;
}
.vertical1{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 5%;
}
.vertical2{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 35%;
}.vertical3{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 65%;
}
.vertical4{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 95%;
}
.vertical5{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 9%;
}
/* vertical line end */
/* ------------------------------------------------------------------------------------------------------------------------------- */
/*----------------------------------------------------------------- About section----------------------------------------------- */
.box2{
  display: flex;
  padding-left: 7%;
}
.box2 p{
  font-size: 2vw;
  text-transform:uppercase ;
}
.box2 .about1{
  margin-left: 2vw;
  width: 140vw;
  line-height: 30px;
  margin-top: 5%;
}
.smalltextHeading{
  font-size: 1rem;
  margin-bottom: 5%;
  opacity: 0.5;
  text-transform: uppercase;
}
.img-container{
  height: 100%;
  width: 100%;
  transform: translate(-2%,-7%);
}
.img-container img{
    height: 33vw;
    width: 25vw;
    border-radius: 7%;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all ease-in-out .5s;
}
.img-container .img1{
    transform: rotate(-22deg);
    background-image: url(20191213_183343~1.jpg); 
}
.img-container .img1:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.img-container .img2{
    background-image: url(20191213_183343~1.jpg);
    transform: rotate(-6deg) translate(36%, -93%);
}
.img-container .img2:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/* ============================================================================================================================== */
/* ============================================          Contact Section      =================================================== */

#ContactSection{
  background-color: #111;
  /* z-index: 999999999; */
}
.contact-content {
  padding-top: 12%;
  margin-left: 7%;
}
.contact-content  .contact-text{
  font-size: 10vw;
  font-weight: 700;
  line-height: 120px;
  /* margin-top: -240px; */
  color: #ffffff;
  z-index: 1;
  text-transform: uppercase;
  /* white-space: nowrap; */
}
.contact-content  .contact-text1 span{
  font-size: 20px;
  line-height: 25px;
  text-align: end;
  color: #fff;
  /* margin-right: 6%; */
  top: 20%;
  text-transform: uppercase;
  /* white-space: nowrap; */
}
.contact-content  .contact-text1 a{
  text-decoration: none;
  color: #fff;
}
.contact-content  .contact-text1 a:hover{
  color:#842029;
}

.contact-content  .contact-text2{
  font-size: 30px;
  line-height: 30px;
  width: 80%;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}
.blockBottom{
  position: absolute;
  bottom: 0;
  left: 48px;
  height: 25px;
  width: 40px;
  /* z-index: 999; */
  background-color: #842029;
}

.backtotop{
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  rotate: 270deg;
  left: 7px;
  cursor: pointer;
  text-transform: uppercase;
  /* height: 25px; */
  width: 103px;
  /* z-index: 999; */
  color: #842029;
}
.contactForm{
  height: 200px;
  width: 31%;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-top: -10%;
  margin-left: 64%;
  /* background-color: white; */
}
.contactForm input{
  width: 90%;
  margin-top: 5px;
  color: #fff;
  padding-left: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  height: 3vw;
}

.contactForm textarea{
  width: 90%;
  border-radius: 5px;
  margin-top: 5px;
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  height: 5vw;
}

.contactForm button{
  width: 80px;
  height: fit-content;
  margin-left:74%;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #842029;
  border: #842029;
  
}
.contactForm button:hover{
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
}


/* ---------------------------------------------------------------------------------------------------  */
/* ========================================skill section----------------------------------------------- */
#SkillsSection{
  margin-top: -30%;
}
.skills-heading p{
  font-size: 6vw;
  font-weight: 600;
  color: #111;
  /* padding: 10px 0; */
  background-color: #dfd5a9;
  text-transform: uppercase;
  transform: translate(85px);
}
.skills-heading span{
  color: #842029;
  font-weight: 800;
  font-size: 7vw;
  font-family: 'Megrim', cursive;
  font-family: 'Qwitcher Grypen', cursive;
}
.arrow2{
  display: inline-block;
  transform: translate(-100%, -100%) rotate(45deg);
  opacity: .5;
}
.arrow2 svg{
  height: 3vw;
  color: #842029;
}
.skill-logo{
  margin-left: 9%;
}
.row1{
  display: flex;
}
.row2{
  margin-top: 2rem;
  display: flex;
}
.lower{
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px #000000ad ,inset -2px -2px 5px #000000ad;
  background-color: #842029;
  /* overflow: hidden; */
}
.upper{
  box-shadow:-5px -5px 20px #3b0b0f59,5px 5px 20px #3b0b0f73;
  border-radius: 10px;
  background-color: #dfd5a9;
}
.upper img:hover
{
  scale: 2;
}
.logo{
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px #b9aaaaa1 ,inset -2px -2px 5px #333333a1; 
}
.one-upper img{
  height: 125px;
  transition: all ease-in 1s;
}
.two-upper img{
  height: 190px;
  transition: all ease-in 1s;
}
.three-upper img{
  height: 66px;
  margin: 7px;
  transition: all ease-in 1s;
}
.four-upper img{
  height: 94px;
  transition: all ease-in 1s;
}
.five-upper img{
  margin: 8px;
  height: 107px;
  margin-top: 15px;
  transition: all ease-in 1s;
}
.six-upper img{
  transition: all ease-in 1s;
  height: 140px;
  margin-top: 10px;
}
.seven-upper img{
  transition: all ease-in 1s;
  height: 95px;
  margin-top: 8px;
}
.eight-upper img{
  transition: all ease-in 1s; 
  height: 110px;
  margin-top: 8px;
}
.nine-upper img{
  transition: all ease-in 1s;
  height: 131px;
  margin-top: 6px;
}
.one-lower{
  height: 8rem;
  width: 8rem;
  transform: translate(14rem,-4rem);

}
.one-upper{
  height: 8rem;
  width: 8rem;
  transform: translate(3rem,-1rem);
}
.two-lower{
  height: 12rem;
  width: 12rem;
  transform: translate(17rem,-1rem);
}
.three-lower{
  height: 5rem;
  width: 5rem;
  transform: translate(12rem,-5rem);
}
 .four-lower{
  height: 6rem;
  width: 6rem;
  transform: translate(12rem,-3rem);
}

 .five-lower{
  height: 9rem;
  width: 9rem;
  transform: translate(2rem,-10rem);
 }
  .six-lower{height: 10rem;
    width: 10rem;
    transform: translate(0rem,-5rem);}
.seven-lower{
  height: 7rem;
  width: 7rem;
  transform: translate(-4rem,-1rem);
}
.eight-lower{
  height: 8rem;
  width: 8rem;
  transform: translate(2rem,-2rem);
}
.nine-lower{height: 150px;
  width: 150px;
  transform: translate(-2rem,-5rem);
}

.two-upper{
  height: 12rem;
  width: 12rem;
  transform: translate(-2rem,-5rem);
} 
.three-upper{
  height: 5rem;
  width: 5rem;
  transform: translate(5rem,-3rem);
}
.four-upper{
  height: 6rem;
  width: 6rem;
  transform: translate(8rem,-1rem);
}
.five-upper{
  height: 9rem;
  width: 9rem;
  transform: translate(-3rem,-5rem);
}
.six-upper{
  height: 10rem;
    width: 10rem;
  transform: translate(-8rem,-2rem);
}
.seven-upper{
  height: 7rem;
  width: 7rem;
  transform: translate(-6rem,-4rem);
}
.eight-upper{
  height: 8rem;
  width: 8rem;
  transform: translate(-9rem,-5rem);
}
.nine-upper{
  height: 150px;
  width: 150px;
  transform: translate(-12rem,-4rem);
}




/* ---------------------------------------------------------------------------------------------------- */
/* ------------------------------------------Work SECTION --------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.workHeading{
  margin-top: 5%;
  display: flex;
}
.workHeading p{
  display:inline-block;
  background-color: #dfd5a9;
  letter-spacing: 5px;
  margin-left: -6%;
  color: #111;
  font-size: 6vw;
  font-weight: 600;
  margin-bottom: 10%;
  text-transform: uppercase;
}
.workHeading span{
  color: #842029;
  font-size: 7vw;
  font-family: 'Megrim', cursive;
  font-family: 'Qwitcher Grypen', cursive;
}
 .arrow1{
  display: inline-block;
  transform: rotate(90deg) translate(20px, -8vw);
  opacity: .2;
}
.one{
  display: flex;
}
.Hline1{
  height: 1px;
  width: 5%;
  margin-left: 32.5%;
  border:.1px solid #5a54343b;
}
.Hline1-1{
  height: 1px;
  width: 5%;
  margin-left: 25%;
  border:.1px solid #5a54343b;
}
.two{
  display: flex;
}
.Hline2{
  /* margin-top: 22%; */
  height: 1px;
  width: 5%;
  margin-left: 32.5%;
  border:.1px solid #5a54343b;
}
.Hline2-1{
  /* margin-top: 22%; */
  height: 1px;
  width: 5%;
  margin-left: 25%;
  border:.1px solid #5a54343b;
}


.card-group{
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  /* margin-left: 5%; */
}
.card-group .card{
  /* border: 1px solid black; */
  height: 25vw;
  border-radius: 10px;
  justify-content: space-between;
}
.card:nth-child(1){
  width: 23.3vw;
  margin-left: 9%;
}
.card:nth-child(2){
  width: 25vw;
  margin-left: 4.8%;
}
.card:nth-child(3){
  width: 25vw;
  margin-left: 4.7%;
}
.card{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  /* position: absolute; */
  background: #000000;
  box-shadow: inset 2px 2px 5px #2e0b0e, inset -2px -2px 5px #2e0b0e;
  /* z-index: 5; */
}
.work{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #000000;
  opacity: .8;

}
.projectText{
  display: flex;
}
.title{
  background-color: #fff;
  font-weight: 800;
  padding: .8vw 1vw;
  border-radius: 100px;
  width: 60%;
  /* height: fit-content; */
  margin-left: 5%;
  transform: translateY(-4.5vw);
}
.arrowWork{
  transform: translateY(-4.5vw);
  margin-left: 7%;
  width: 3.5vw;
  height: 3.5vw;
  background: #fff;
  border-radius: 50%;
}
.arrowWork svg{
  height: 2vw;
  width: 4vw;
  rotate: -90deg;
  transform: translate(-8px , -2px);
  
}
.arrowWork path{
  stroke-width: 3px;
}
.work img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
 #cursor{
  position: fixed;
  width: 10vw;
  top:0;
  z-index: 999999;
 }
 #cursor > div{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
  opacity: 0;
  position: absolute;
 }
 #elem{
  width: 100%;
  position: relative;
 }
 .crow{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: .7vw;
 }
 .crow .circle{
  width: 2vw;
  height: 2vw;
  border: 2px solid #fff;
  border-radius: 50%;
 }
 .crow .capsule{
  padding: .2vw 2vw;
  border-radius: 100px;
  background-color: #fff;
}
#elem img{
  width: 100%;
  opacity: 0;
  margin-top: 11%;
  border-radius: 10px;
  animation: an 5s linear infinite;
  position: absolute;
}

#elem img:nth-child(2){
  animation-delay: 1s;
}
#elem img:nth-child(3){
  animation-delay: 2s;
}
#elem img:nth-child(4){
  animation-delay: 3s;
}
#elem img:nth-child(5){
  animation-delay: 4s;
}

@keyframes an{
  0%{opacity: 1;}
  20%{opacity: 1;}
  21%{opacity: 0;}
  40%{opacity: 0;}
  60%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 0;}
}
/* ======================================================================================================================================= */
/* ==================================================Responsive Start Here    ============================================================ */
/* ======================================================================================================================================= */
@media only screen and (max-width: 1023px){

}
@media only screen and (max-width: 950px){
    .navBar{
      left: -11.6%;
    }
    .block2 {
      top:2%;
      left: 5.1%;
      width: 18px;
    }
    .block1{
      top:2%;
      left: 4.8%;
      /* width:10px; */
    }
    .block {
      top:2%;
      left: 3%;
      width: 18px;
    }
    #HomeSection .row h1 {
      margin-top: -2%;
    }
    #HomeSection .row1 h1 {
      margin-left: 20%;
    }
    .home-content {
      line-height: 97px;
      margin-top: 40px;
  }
    .box2 .about1 {
      margin-top: 9%;
    }
}
@media only screen and (max-width: 720px){

}
@media only screen and (max-width: 450px){
  .vertical{
    left: 15%;
  }
  .vertical1{
    left: 9%;
  }
  .vertical3{
    border: 0;
  }
  .vertical2{
    left: 55%;
  }
  .block {
    width: 23px;
    height: 40px;
  }
  .block1{
    left: 8.2%;
    width: 7px;
    height: 20px;
  }
  .block2 {
    left: 9.5%;
    width: 22px;
    height: 40px;
  }
  #topheading{
    left: 50%;
    transform: translate(-50%,0);
  }
  #loader h1{
    left: 3%;
    top: 35%;
    font-size: 10vw;
  }
  .text1{
    font-size: 2.6vw;
    margin-left: 0;
    color: #dfd5a9;
    width: 34vw;
    transform: translate(54vw, 73vw);
  }
  .text{
    color: #dfd5a9;
    font-size: 2.6vw;
    margin-left: 0;
    width: 36vw;
    transform: translate(18vw, 65vw);
  }

  .home-content {
    margin-top: 17%;
    margin-left: 6%;
    line-height: 67px;
  }

  .arrow svg {
    height: 7vw;
    margin-left: 6.5vw;
  }

  .navBar a {
    font-size: 3.3vw;
    margin-left: 40px;
  }
  .navBar {
    rotate: 360deg;
    left: 21%;
    top: 2%;
    margin-top: 6px;
}
.home{
  border: 10px solid #222;
  background-color: black;
  overflow: hidden;
}
#HomeSection .row h1 {
  font-size: 51px;
  margin-left: 12%;
  color: #dfd5a9;
}
#HomeSection .row1 h1 {
  font-size: 51px;
  margin-left: 12%;
  color: #dfd5a9;
}
.arrow{display: none;}
.img-container{
  transform: translate(-131%,14%);
}
.img-container img {
  height: 73vw;
  width: 50vw;
}
.box2 .about1{
  color: #dfd5a9;
  line-height: 47px;
  margin-left: 42px;
  margin-top: 102vw;
}
#SkillsSection {
  margin-top: 12%;
}
.skills-heading p {
  color: #dfd5a9;
background-color: #000000;
  transform: translate(22px);
}
.skill-logo{
  margin-top: 37%;
}
.box2 p{
  margin-left: 5px;
  width: 71vw;
    line-height: 5.5vw;
    font-size: 5vw;
}
.smalltextHeading {
  margin-left: 2vw;
  font-size: .7rem;
}
.workHeading p {
background-color: black;
    color: #dfd5a9;
    margin-left: 78px;
    width: 70vw;
    font-size: 8vw;
  }
  path,polyline{
    stroke:#dfd5a9 ;
  }
  .arrow2 svg {
    height: 8vw;
  }
  .arrow2{
    transform: translate(9px, 12px);
  }
  .arrow1 svg {
    height: 8vw;
  }
  .arrow1 {
    transform: translate(284px, -70px) rotate(45deg);
  }
  #ContactSection {
    background-color: #222;
  }
  
}


