@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Poppins&family=Qwitcher+Grypen:wght@700&family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,body{
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar{
  display: none;
}
#main{
  width: 100%;
    /* border: 10px solid black; */

}
#loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 69;
  background-color: #111;
  color: #fff;
}
#loader h1{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  /* left: 42%; */
  font-size: 6vw;
  font-weight: 500;
  /* transform: translate(-50% -50%); */
}
#loader h1 .garg{
  font-family: 'Megrim', cursive;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 7vw;
  color: #842029;
}
#topheading{
  position: absolute;
  top: 5%;
  left: 45%;
  /* transform: translate(-50%,0); */
}

#topheading h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 300;
}

.reveal .parent{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.reveal .parent .child{
  display: block;
  transform: translateY(0);
  
} 
.parent .child span{
  display: inline-block;
}
 #colorDiv{
  border: 10px solid #111;
  position: absolute;
  height: 0vh;
  width: 100%;
  bottom: 0;
  background-color: #842029;
}
#white{
  position: absolute;
  height: 0vh;
  width: 100%;
  z-index: 60;
  bottom: 0;
  background: #dfd5a9;
  /* background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}

.home{
  border: 10px solid #111;
  position: absolute;
  /* height: 200vh; */
  width: 100%;
  /* z-index:61; */
  background-color: #dfd5a9
}
.home-content{
  line-height: 150px;
  margin-top: 50px;
}
.lineBox{
  position: relative;
}
/* navabr */

/* the name logo on the home page */
.block{
  position: absolute;
  top: 1%;
  left: 3%;
  height: 5vw;
  width: 2vw;
  z-index: 999;
  background-color: #842029;
}
.block1{
  position: absolute;
  top: 1%;
  left: 5%;
  height: 2vw;
  width: 3px;
  z-index: 999;
  background-color: #842029;
}
.block2{
  position: absolute;
  top: 1%;
  left: 5.1%;
  height: 5vw;
  width: 2vw;
  z-index: 999;
  background-color: #842029;
}


/* logo end */

.navBar{
  position: absolute;
  top: 20%;
  left: -8.8%;
  z-index: 222;
  rotate: -90deg;
  /* border:1px solid red; */
  
  display: inline-block;
}
.navBar a{
  margin-left:55px;
  color: #842029;
  font-size: 1.3vw;
  font-weight: 600;
  text-decoration: none;
}

/* navbar end */

#HomeSection .row h1 {
  font-size: 11vw;
  margin-top: -7%;
  margin-left: 9%;
  font-weight: 600;
  color: #111;
  display: inline-block;
  letter-spacing: 5px;
}

.text{
  display: inline-block;
  margin-left: 66%;
  opacity: .3;
  font-size: 1vw;
  text-transform: uppercase;
  width: 14vw;
  line-height: 15px;
} 
.text1{
  text-align: end;
  margin-left: 80%;
  margin-top: 8%;
  opacity: .3;
  font-size: 1vw;
  text-transform: uppercase;
  width: 14vw;
} 
#HomeSection .row1 h1 {
  font-size: 11vw;
  /* justify-content: center; */
  font-weight: 600;
  margin-left: 28%;
  letter-spacing: 5px;
  /* color:#dfd5a9; */
  /* margin-top: -10px; */
  /* background-color:#8420288a; */
}

#HomeSection .o-letter {
  font-family: 'Megrim', cursive;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 22vw;
  color: #842029;
}
.arrow svg{
  height: 10vw;
  margin-left: 9.5vw;
  opacity: .3;
}
path,polyline{
  stroke:#111 ;
}



/* the name logo on the home page */


/* logo end */ 

/* vertical line of the page */
.vertical{
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  top: 0;
  height: 100%;
  left: 7%;
}.vertical0{
  position: absolute;
  top: 0;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 3%;
}
.vertical1{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 5%;
}
.vertical2{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 35%;
}.vertical3{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 65%;
}
.vertical4{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 95%;
}
.vertical5{
  top: 0;
  position: absolute;
  border-left: 1.5px solid #5a54343b;
  height: 100%;
  left: 9%;
}
/* vertical line end */

.box2{
  padding-top: 5%;
  padding-left: 7%;
}
.box2 p{
  font-size: 2vw;
  text-transform:uppercase ;
}
.box2 .about1{
  margin-left: 2.5vw;
  max-width: 62%;
  line-height: 30px;
  margin-top: 3%;
}

.box2 .about2{
  max-width: 62%;
  margin-left: 31%;
  line-height: 30px;
  margin-top: 5%;
}
#ContactSection{
  background-color: #111;
  /* z-index: 999999999; */
}
.contact-content {
  padding-top: 12%;
  margin-left: 7%;
}
.contact-content  .contact-text{
  font-size: 10vw;
  font-weight: 700;
  line-height: 120px;
  /* margin-top: -240px; */
  color: #ffffff;
  z-index: 1;
  text-transform: uppercase;
  /* white-space: nowrap; */
}
.contact-content  .contact-text1 p{
  font-size: 20px;
  line-height: 25px;
  text-align: end;
  color: #fff;
  margin-right: 6%;
  top: 20%;
  text-transform: uppercase;
  white-space: nowrap;
}
.contact-content  .contact-text1 a{
  text-decoration: none;
  color: #fff;
}
.contact-content  .contact-text1 a:hover{
  color:#842029;
}

.contact-content  .contact-text2{
  font-size: 30px;
  line-height: 30px;
  width: 80%;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}
.blockBottom{
  position: absolute;
  bottom: 0;
  left: 48px;
  height: 25px;
  width: 40px;
  /* z-index: 999; */
  background-color: #842029;
}

.backtotop{
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  rotate: 270deg;
  left: 7px;
  cursor: pointer;
  text-transform: uppercase;
  /* height: 25px; */
  width: 103px;
  /* z-index: 999; */
  color: #842029;
}
.contactForm{
  height: 200px;
  width: 31%;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-top: -10%;
  margin-left: 64%;
  /* background-color: white; */
}
.contactForm input{
  width: 90%;
  margin-top: 5px;
  color: #fff;
  padding-left: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  height: 3vw;
}

.contactForm textarea{
  width: 90%;
  border-radius: 5px;
  margin-top: 5px;
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  height: 5vw;
}

.contactForm button{
  width: 80px;
  height: fit-content;
  margin-left:74%;
  padding: 5px;
  color: white;
  /* font-size: 1vw; */
  border-radius: 5px;
  background-color: #842029;
  border: #842029;
  
}
.contactForm button:hover{
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
}

@keyframes scroll {
  0%{
    transform: translateX(calc(-100% - 35px));
  }
  100%{
    transform: translateX(0);
  }
}
@media only screen and (max-width: 1023px){

}
@media only screen and (max-width: 950px){
    .navBar{
      left: -11.6%;
    }
    .block2 {
      top:2%;
      left: 5.1%;
      width: 18px;
    }
    .block1{
      top:2%;
      left: 4.8%;
      /* width:10px; */
    }
    .block {
      top:2%;
      left: 3%;
      width: 18px;
    }
    #HomeSection .row h1 {
      margin-top: -2%;
    }
    #HomeSection .row1 h1 {
      margin-left: 20%;
    }
    .home-content {
      line-height: 97px;
      margin-top: 40px;
  }
    .box2 .about1 {
      margin-top: 9%;
    }
}
@media only screen and (max-width: 720px){

}
@media only screen and (max-width: 450px){
  .vertical{
    left: 9%;
  }
  .vertical1{
    left: 6%;
  }
  .vertical2{
    display: none;
  }
  .vertical3{
    left: 50%;
  }

  .block {
    width: 13px;
  }
  .block1{
    left: 5.2%;
    width: 7px;
  }
  .block2 {
    left: 6.5%;
    width: 13px;
  }

  .text1{
    font-size: 1.5vw;
  }
  .text{
    font-size: 1.5vw;
    margin-left: 51%;
    line-height: 2;
  }

  .home-content {
    line-height: 40px;
  }

  .arrow svg {
    height: 7vw;
    margin-left: 6.5vw;
  }

  .navBar a {
    margin-left: 35px;
  }
  .navBar {
    left: -15.8%;
    top: 12%;
}

#HomeSection .row h1 {
  margin-left: 12%;
}
}